@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.wrap{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;
    overflow : hidden;
}

.selectDate{
    position : absolute;
    top : 1vh;
    right : 0.5vw;
    width : 216px;
    height : 377px;
    z-index : 10;
}

.selected{
    background-color : rgba(180,180,180, 0.3)
}

.selectedDate{
    font-family: 'Pretendard-Regular';
    font-size : 33px;
    font-weight : 1000;
    color : #3F5C78;
    width : 132px;
    height : 39px;
    position : absolute;
    top : 13px;
    left : 24px;
    z-index : -1
}

.dateListWrap{
    overflow : scroll;
    height : 360px;
    width : 185px;
    background-color: #F9F9F9;
    border-radius: 6px;
    padding : 1px 8px;
    display : none;
}

.dateListWrap::-webkit-scrollbar{
    display : none;
}

.dateList{
    font-family: 'Pretendard-Regular';
    font-size : 33px;
    font-weight: 1000;
    color : #3F5C78;
    width : 132px;
    height : 39px;
    margin : 12px;
    cursor : pointer;
    border-radius: 5px;
    display : flex;
    justify-content: center;
}

.dateList:hover{
    background-color: #c1c1c1;
}

.checkbox{
    display : none;
}

.checkbox:checked ~.dateListWrap{
    display : block !important;
}

.checkbox:checked ~.label>.arrow{
    transform: rotate(180deg);
}

.arrow{
    position : absolute;
    top : 22px;
    right : 33px;
    z-index : 11;
    cursor : pointer;
}

.calendar{
    position : absolute;
    width : 1150px;
    height : 676px;
    left : calc(50vw - 575px);
    top : calc(50vh - 338px)
}

.days{
    position : relative;
    top : 0px;
    width : 1150px;
    height : 37px;
    display : flex;
    justify-content: space-between;
    border-bottom : solid 0.25px #818181;
}

.day{
    font-family: 'Pretendard-Regular';
    font-size: 21px;
    width : 145px;
    display : flex;
    justify-content: center;
}

.sun{
    color : #E6445B
}

.sat{
    color : #586AD0
}

.week{
    width : 1150px;
    height : 128px;
    display : flex;
    justify-content: space-between;
    border-bottom : solid 0.25px #818181;
}

.date{
    font-family: 'Pretendard-Regular';
    font-size: 21px;
    width : 1150px;
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
}

.dateNum{
    width : 145px;
    position : relative;
    top : 11px;
    height : calc(100% - 11px)
}

.lastMonth{
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    width : 143px;
    display : flex;
    justify-content: center;
    opacity: 0.4;
}

.nowMonth{
    
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    width : 143px;
    display : flex;
    justify-content: center;
}

.nextMonth{
    
    
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    width : 143px;
    display : flex;
    justify-content: center;
    opacity: 0.4;
}