.main{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;
}

.left{
    width : 52.7vw;
    height : 50.6vh;
    position : absolute;
    left : 3vw;
    top : 24vh;
    font-size : calc(7vw);

}

.welcome{
    position : relative;
    width : 100%;
    height : 23.5%;
    font-family: "Viga";
    font-size : 65%;
    font-weight: 800;
    display : flex;
    align-items: center;
    left : 7%;
    margin : 0px;
    color : #3198BC;
}

/* .message{
    width : 100%;
    display : flex;
    align-items: center;
} */

.slogun{
    position : relative;
    margin : 0px;
    margin-top : 1.1%;
    left : 7%;
    width : 60.7%;
    height : 26.8%;
    font-size : 38%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.right{
    width : 25vw;
    height : 25vw;
    position : absolute;
    top : 25.3vh;
    left :57.9vw;
}

.logo{
    position : relative;
    width : 100%;
    height : 100%;
    z-index : 10;
    
}

.summary{
    margin : 0px;
    position : relative;
    left : 7%;
    margin-top : 10px;
    height : 17.9%;
    width : 50.8%;
    font-style: normal;
    font-size : 25%;
    color : #797979;
}

.downloads{
    position : relative;
    display : flex;
    justify-content: space-between;
    margin-top : 5.5%;
    left : 7%;
    width : 33.5%;
    height : 10%;
}

.download_Btn{
    padding : 10px;
    color : white;
    background-color : #414141;
    width : 40%;
    height : 50%;
    display : flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5vw;
    position : relative;
    box-shadow: 6.65px 6.65px 19.94px rgba(0,0,0,0.2);
    font-size : 15%;
}

.appLogo{
    width : 15%;
    height : 100%;
    margin-right : 5%;
}