.wrapper{
    position : absolute;
    top : calc(25vh);
    left : calc(90vw);
    width : 4.9vw;
    height : 50vh;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index : 10;
}

.home{
    width : 4.9vw;
    height : 4.9vw;
    border-radius: 100%;
    background-color: #DFEDF8;
    display : flex;
    justify-content: center;
    align-items: center;
}

.timetable{
    width : 4.9vw;
    height : 4.9vw;
    border-radius: 100%;
    background-color: #DFEDF8;
    display : flex;
    justify-content: center;
    align-items: center;
}

.calender{
    width : 4.9vw;
    height : 4.9vw;
    border-radius: 100%;
    background-color: #DFEDF8;
    display : flex;
    justify-content: center;
    align-items: center;
}

.mealPlan{
    width : 4.9vw;
    height : 4.9vw;
    border-radius: 100%;
    background-color: #DFEDF8;
    display : flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: #87DAEF !important;
}