.canvas{
    margin : 0px;
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;
    z-index : 1;
    padding : 0px;
}

.Control{
    position : absolute;
    left : 20px;
    z-index : 10;
}